<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read All Posts!</title>
</head>

<body>
    <!-- <p>Here's the latest & greatest!:</p>
    <div th:each="post : ${allPosts}">
        <a th:text="${post.title}" th:href="|/allPosts/${post.postId}|">View All Posts</a>
    </div> -->

    <main>
        <ul>
                <li th:each="post : ${allPosts}">
                        <span th:text="${post.title}"></span>
                        <span th:text="${post.author}"></span>
                        <span th:text="${post.bodyText}"></span>
                        <span th:text="${post.genre}"></span>
                </li>
            </ul>
            <h3>Add a post!</h3>
            <form action="/addPost" method="POST">
                <label>Title of your post: 
                        <input type="text" name="post.title" /></label>
                <label>Author name: 
                        <input type="text" name="post.author" /></label>
                <label>Tell me a story! 
                        <input type="text" name="post.bodyText" /></label>
                <label>What genre? 
                        <input type="text" name="post.genre" /></label>

                <button type="publish">Publish!</button>
            </form>
    </main>


</body>

<footer>&copy; 2019 Chess and Board</footer>
</html>