<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Chess and Bread Blog | Home</title>
</head>

<body>
    <h2>Welcome to Chess and Bread</h2>

    <a href="allPosts.html">Read All Posts</a>
    <nav>
        <ul>
            <li><a>Authors</a></li>
            <li><a>Genre</a></li>
            <li><a>Tags</a></li>
        </ul>
    </nav>





    <img th:src="@{/images/chessboard.png}" />
    <img th:src="@{/images/bread.png}" />
</body>
</html>